.wrap {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 310px;
}

#demo {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
}

#demo span {
  color: #999;
  font-size: 1.4rem;
  display: block;
  margin: auto;
  text-align: center;
}

#demo div {
  float: left;
  margin: 0 2rem;
  height: 60px;
}

/* Responsive Fixes */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  body { overflow: hidden; }
  .cs-logo { height: 125px ;}
  #demo { font-size: 3rem; }
}