
body {
	overflow-x: hidden;
}

.km-head_utl {
	background: #ededed;
	color: #000;
}

.km-head_utl ul li a:hover, .km-head_utl ul li a:focus {
	color: #000;
}

#label label {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/search-b.svg) no-repeat;
	font-size: 0;
	color: rgba(0, 0, 0, 0);
	text-indent: -9999px;
	cursor: pointer;
	background-position: 5px 5px;
	background-size: 20px 20px;
	margin: 0;
}

#label label:hover {
	background: url(../img/search-b.svg) no-repeat;
	background-position: 5px 5px;
	background-size: 20px 20px;
}

#label.active label {
    background: url(../img/search-b.svg) no-repeat;
    background-position: 5px 5px;
    background-size: 20px 20px;
}

.km-cart_btn {
    height: 26px;
    width: 24px;
    display: inline-block;
    background: url(../img/shopping-bag.svg) no-repeat;
    background-position: 0px 2px;
    background-size: 24px 24px;
}

.km-head_utl ul li a {
	color: #000;
}

header,.navbar {
	background: #fff;
}

.km-heading_prim h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 1.55rem;
    letter-spacing: 4px;
}

h6.km-heading_sec_sm  {
    font-family: 'Montserrat', sans-serif;
    color: #323232;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.km-heading_prim h5 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 0.95rem;
	color: #666666;
	letter-spacing: 4px;
	margin-bottom: 1rem;
	text-align: center;
}

.km-slr_row h1.slr-heading {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	line-height: 4.5rem;
	font-size: 3.5rem;
}

.km-subscrb_area .input-group .form-control {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.75rem;
}

.km-subscrb_area .input-group-addon .btn {
	background: #0aafff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.85rem;
	font-weight: 400;
	letter-spacing: 1px;
	color: #fff;
}

.km-subscrb_area {
	background: #ededed;
}

.km-slr_row h6 {
	font-family: 'Montserrat', sans-serif;
}

.km-subscrb_area .input-group {
	box-shadow: 0px 10px 19px -5px #00000014;
}

.km-slr_btn {	
	background: #12b1ff;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.85rem;
	font-weight: 400;
	letter-spacing: 1px;
	color: #fff;
	padding: 0.5rem;
	text-transform: uppercase;
	box-shadow: 0px 4px 9px -1px #00000031 !important;
}

.km-slr_btn:hover {
	color: #fff;
	text-decoration: none;
}

.km-newar_col {
	background: #ededed;
}

.km-newar_carousel.owl-theme .owl-nav [class*=owl-] {
    border: 1px solid #ededed;
}

.owl-theme .owl-nav [class*=owl-] {
	background: #ededed;
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: #ededed;	
}

.owl-carousel .owl-nav .owl-prev {
	left: -40px;
}

.owl-carousel .owl-nav .owl-next {
	right: -40px;
}

.km-newar_col:hover,
.km-newar_col:focus {
	text-decoration: none;
    box-shadow: none !important;
}

.km-newar_col:hover img {
	-moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.km-newar_col_cart {
	background: #edededc4;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
	top: 0;
	bottom: 110px;
	display: none;
	visibility: hidden;
	transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

.km-newar_col_cart > div,
.km-newar_col_cart .km-cart-icon  {
	display: block;
	text-align: center;
	margin: auto;
	width: 100%;
}

.km-newar_col_cart a:hover {
	text-decoration: none;
}


.km-newar_col_cart img {
	height: 36px;
	width: 36px;
}

.km-newar_col_cart a {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 0.95rem;
	text-transform: uppercase;
}

.km-newar_carousel .item:hover .km-newar_col_cart {
	display: block;
	visibility: visible;
	padding: 15px 0 0 0;
}

.km-newar_carousel .item {
	position: relative;
	margin: 0 15px;
}


.km-newar_info h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.85rem;
	font-weight: 400;
}

.km-prc {
	font-size: 1.25rem;
	font-weight: 500;
}

.km-cat_view_area a {
	padding:0 1.5rem;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 0.55;
}

.km-catmsnry_row .km-catmsnry_col {
	height: 238px;
}

.km-catmsnry_col img {
	height: 100%;
	width: 100%;
}

.km-catmsnry_row .km-catmsnry_col a img {
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

.km-catmsnry_row .km-catmsnry_col a:hover img {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.km-cat_view_area a:hover {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	opacity: 1;
}

.km-catmsnry_info {
	background: #fff;
	width: auto;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 1rem;
    padding: 8px;
	text-align: center;
	letter-spacing: 0.1rem;
	max-width: 70%;
}

.km-cat_icon {
	height: 42px;
	width: 42px;
}

.km-fot_sep:before {
	background: #fff;
}

.km-usp_col img {
	height: 45px;
}

.km-usp_col {
	font-family: 'Montserrat', sans-serif;
	color: #222;
	font-weight: 400;
	font-size: 1rem;
}

.km-slr-logo_carousel .owl-item {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
    box-shadow: 0px 7px 17px 1px #0000000d;
	height: 80px;
}

.km-slr-logo_carousel .item {
	height: 100%;
}

.km-slr-logo_carousel.owl-theme .owl-nav [class*=owl-] {
	display: none;
}

.km-slr-logo_carousel .owl-stage-outer {
    height: 100px;
    margin: 20px 0 0 0;
}

footer {
    background: #fff;
    padding: 2.5rem 0 0 0;
}

.km-newar_row {
	background: #fff;
}

.carousel-caption {
	left: 50px;
	right: inherit;
	text-align: left;	
}

.carousel-caption h3,
.carousel-caption a {
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0px 15px 15px 7px black !important;
	text-align: left;
	font-size: 2rem;
	color: #fff;
	margin-bottom: 1rem;
}

.carousel-caption a {
	text-transform: uppercase;
	font-size:1.2rem; 
}

.km-test_col {
    background: #ffffffd6;
    box-shadow: 0px 4px 12px 4px #00000017;
    padding: 2rem;
}

.km-test_col p {
	font-size: 0.85rem;
	font-family: 'Montserrat', sans-serif;
}

.km-test_col h5 {
	font-family: 'Montserrat', sans-serif;	
	font-size: 1rem;
	margin-top: 1rem;
}

.km-test_row {
	background: #ededed url(../img/testimonials-bg.jpg) center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 3rem 0;
	min-height: 450px;
}

.km-test_avatar {
	border-radius: 100%;
	height: 40px;
	width: 50px;
	margin-right: 1rem; 
}

.km-head_cartmob .km-cart_btn span {
	background: #18b3ff;
}

/** Listing **/

.km-prod-listing .km-newar_col {
	border:0;
	box-shadow: 0px 2px 6px 2px rgba(226, 226, 226, 0.28) !important;
}

.km-main-cat-banner {
	height: 270px;
	overflow: hidden;
}

/* Mega menu */

.nav > li > div {
	padding: 2rem 0 0 0;
}

.nav > li > div {
	font-family: 'Montserrat', sans-serif;
}

.nav > li > div .col h6 {
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

.nav > li > div .col ul li a {
	color: #333;
	font-size: 0.85rem;
}

.km-mega_col > .km-m_incol {
	width: 20%;
	min-width: 20%;
	padding: 0 1rem 0 1rem;
	border-right: 1px solid #ededed;
}

.km-mega-offer_block {
	background: #ededed;
	padding: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	color:#222;
	width: 100%;
	margin-top: 1rem;
}

.km-fet_pro-col {
	padding: 1rem;
	color: #222;
	text-align: left;
	padding: 0 1rem 1rem 1rem;
}

.km-fet_pro-col a {
	text-decoration: none;
}

.km-fet_pro-col h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.85rem;
	line-height: 1.2rem;
	font-weight: 400;
	color: #666;
	margin-bottom: 0.5rem;
}

.km-fet_pro-col .km-prc {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

.km-m_incol a.title {
    color: #222;
    font-weight: 500;
    text-align: left;
    display: block;
}

.km-m_incol a.title:hover {
	text-decoration: none;
}




/* Responsive Fixes */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.navbar-brand img { height: 50px; }
	.km-test_row { min-height: inherit; }
	.km-heading_prim h3 { font-size: 1.15rem; letter-spacing: 1px; text-align: center; }
	.owl-carousel .owl-nav .owl-prev { left: 0; }
	.owl-carousel .owl-nav .owl-next { right: 0; }
	.km-cat_view_area a { padding: 0 0.85rem 1rem 0; }
	.km-cat_icon { height: 32px; width: 32px; }
	.km-heading_prim h5 { font-size: 1rem; letter-spacing: 3px;}
	.km-slr_row h1.slr-heading { font-size: 2rem; line-height: 3rem;}
	.km-usp_col img { height: 40px; margin-right: 0.5rem; }
	.km-usp_col { font-size: 1rem; margin: 0 0 0.75rem 0; }
	.km-usp_col:last-child { margin-bottom: 0; }
	.slide .carousel-item img { height: 250px; }
	.km-catmsnry_col img { width: 100%; height: 100%; }
	.km-catmsnry_row .km-catmsnry_col { height: 180px; }	
	.km-catmsnry_info { width: 100%; max-width: inherit; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	.km-catmsnry_col { padding-right: 1rem; }
	.km-catmsnry_col:last-child { padding-right: 0; }
	.km-main-cat-banner { height: auto; }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { {
	.owl-carousel .owl-nav .owl-prev { left: 20px; }
	.owl-carousel .owl-nav .owl-next { right: 20px; }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) { {
	.owl-carousel .owl-nav .owl-prev { left: 20px; }
	.owl-carousel .owl-nav .owl-next { right: 20px; }
}


