/*

	font-family: 'Rajdhani', sans-serif;

	font-family: 'Droid Serif', serif;

	font-family: 'Montserrat', sans-serif;

	logo order

	base purple shade #FF4081

	base yellow shade #ffff00

	base cyan shade #00ffff

*/

body {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #333;
	background: #fff;
	margin:0;
	padding:0;
}

/* Global Fixes */

a,a:hover,input,textarea,button.focus,button:focus,.btn:focus {
	outline: 0 !important;
	box-shadow: none !important;
}

input,button,textarea {
	font-family: 'Rajdhani', sans-serif;
}

.pos-r {
	position: relative;
}

a {
	transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

.form-control {
	font-family: 'Rajdhani', sans-serif;
}

/* Typos */

h1,h2,h3,h4,h5,h6,p {
	font-family: 'Rajdhani', sans-serif;
	margin:0;
}

.lead {
	font-size: 1rem;
	font-weight: 300;
}

/* Button */

.btn {
    background: #40C4FF;
    border-radius: 0;
    border: 0;
    color: #fff;
    font-weight: 500;
}

.btn:hover,
.btn:focus {
    background: #00B0FF;
}

/* Header */

header {
	width: 100%;
	background: #ededed;
	z-index: 1000;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	position: relative;
}

.km-head_utl {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.km-head_utl ul {
	margin:0;
	padding:0;
	position: relative;
	z-index: 10;
}

.km-head_utl ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px 0 0;
	line-height: 30px;
}

.km-head_utl ul li a {
	color: #fff;
}

.km-head_utl ul li a:hover,
.km-head_utl ul li a:focus {
	color: #ddd;
	text-decoration: none;
}

.navbar {
    background: #ededed;
    height: auto;
    padding: 15px 0;
    margin: 0;
    position: relative;
}

.navbar-nav {
	background: #ededed;
	position: relative;
	z-index: 10;
	height: 26px;
	margin-top: 30px;
	width: 100%;
}

.navbar-toggleable-md .navbar-nav .nav-item {
	padding:0 0.50em;
	min-width: 100px;
	text-align: center;
}

.navbar-toggleable-md .navbar-nav .nav-link,
.navbar-nav .nav-link {
	color: #474747;
	font-size: 1.02rem;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	padding: 0;
	text-align: center;
	letter-spacing: 0.04rem;
	line-height: 30px;
}

.navbar-nav .navbar-brand {
	padding:0;
	margin:0;
}

.navbar-nav .nav-link.navbar-brand {
	margin:0;
	min-width: auto;
    overflow: inherit;
}

// .navbar-nav .nav-item.active .nav-link,
// .navbar-nav .nav-link:hover,
// .navbar-nav .nav-link:focus {
// 	color: #000000;
// }

// .navbar-nav .nav-link::after {
//     content: '';
//     display: block;
//     width: 0;
//     height: 2px;
//     background: #000000;
//     transition: width .3s;
// }

// .navbar-nav .nav-item.active::after,
// .navbar-nav .nav-link:hover::after {
//     width: 100%;
//     transition: width .3s;
// }

// .navbar-nav .nav-item.active .nav-link::after {
// 	height: 2px;
// 	width: 100%;
// 	background: #000000;
// }

// .navbar-nav .nav-link.navbar-brand::after,
// .navbar-nav .nav-link.navbar-brand:hover::after {
// 	content: "";
// 	display: none;
// }

.navbar-toggler-left {
	left: 0;
}

.navbar-nav li.nav-item {
	margin: 0;
}

.km-head_utl {
	background: #474747;
	height: 38px;
	color: #fff;
}

.km-head_utl span.ad_text {
	line-height: 30px;
}

.km-head_cart {
	// position: absolute;
	// top: 17px;
	// right: 0;
}

.km-cart_btn {
	height: 26px;
	width: 24px;
	display: inline-block;
	background: url(../img/shopping-bag-w.svg) no-repeat;
	background-position: 0px 2px;
	background-size: 24px 24px;
}

.km-head_cartmob .km-cart_btn {
    height: 36px;
    width: 34px;
    background: url(../img/shopping-bag.svg) no-repeat;
    background-position: -2px 1px;
    background-size: 38px 33px;
}

.km-head_cartmob .km-cart_btn span {
    background: #ededed;
    position: relative;
    bottom: -15px;
    right: -16px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.km-cart_btn span {
	background: #40C4FF;
    position: relative;
    bottom: -8px;
    right: -10px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    padding: 1px 5px;
    line-height: 13px;
}

/* Expanding Search */

.km-head_search {
	position: relative;
}
#label {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 20;
}
#label label {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/search-w.svg") no-repeat;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    cursor: pointer;
	background-position: 5px 5px;
	background-size: 20px 20px;
    margin: 0;
}
#label label:hover {
	background: url("../img/search-w.svg") no-repeat;
	background-position: 5px 5px;
	background-size: 20px 20px;
}
#label.active label {
    background: url("../img/search-w.svg") no-repeat;
	background-position: 5px 5px;
	background-size: 20px 20px;
}
#input {
    position: absolute;
    top: 0;
    right: 40px;
    width: 450px;
    height: 30px;
    z-index: 5;
    overflow: hidden;
}
#input input {
    display: block;
    position: absolute;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: #fff;
	color: #000;
	font-size: 15px;
    backface-visibility: none;
    border-radius: 0;
}
#input input:focus {
    outline: none
}
#input.focus {
    z-index: 20
}
#input.focus input {
    right: 0;
}

/* Mobile Navigation Button */

.navbar-toggler svg {
    height: 16px;
    width: auto;
    line-height: 100%;
    vertical-align: bottom;
    cursor: pointer;
}

.drawermenu {
    background: #fff;
    padding: 0.75em;
    z-index: 2100;
}

.drawermenu > ul > li > a,
.drawermenu > ul > li > ul > li > a {
	font-size: 1em;
	color: #333;
	background-color: #fff;
	font-weight: 500;
    padding: 6px;
}

.drawermenu > ul > li > ul > li > a {
	color: #999;
}

.drawermenu > ul > li > a > .icon-down {
    position: relative;
    top: 8px;
    float: right;
}

.drawermenu > ul > li.cont_utl > a {
	font-size: 14px;
    padding: 5px 10px;
}

.drawermenu > ul > li > a > i {
	font-size: 14px;
	margin-right: 6px;
	color: #666;
}

.drawermenu > ul > li > a:hover,
.drawermenu > ul > li > a:focus {
	color: #FF4081;
}

.drawermenu_overlay {
    background-color: rgba(0, 0, 0, 0.40);
}

/* Heading */

.km-heading_prim h3 {
    font-size: 1.85rem;
    font-weight: 500;
}

.km-heading_prim h5 {
    font-weight: 400;
    font-size: 1.25rem;
}

.km-heading_prim h5 {
	color: #888;
	margin-top: 4px;
}

/* Seller */

.km-slr_col {
	position: relative;
	overflow:hidden;
}

.km-slr_col .km-slr_info {
	background: rgba(0, 0, 0, 0.65);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 10px;
}

.km-slr_col img {
	-webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 100%;
}

.km-slr_col:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.km-slr_col:hover .km-slr_info a {
	color: #40C4FF;
}

.km-slr_col .km-slr_info h5 {
	color: #fff;
}

.km-slr_col .km-slr_info a {
    color: #aaa;
    text-decoration: none;
    line-height: 24px;
    display: block;
}

.km-slr_col .km-slr_info a:hover,
.km-slr_col .km-slr_info a:focus {
	color: #40C4FF;
	text-decoration: none;
}

/* New Arrivals */

.km-newar_row {
	background: #e2e7eb;
}

.km-newar_col {
	background: #fff;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	margin-bottom: 13px;
}

.km-newar_col img {
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.km-newar_col:hover,
.km-newar_col:focus {
	text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15) !important
}

.km-newar_info {
	padding: 1rem 0 1.25rem 0;
}

.km-newar_info h5 {
	font-size: 1rem;
	font-weight: 400;
	color: #666;
	line-height: 1.25rem;
}

.km-prc span {
	font-size: 0.95rem;
	font-weight: 400;
	color: #dd1d1e;
	text-decoration: line-through;
	margin-right: 8px;
    line-height: 1;
}

.km-prc {
	color: #222;
	font-size: 1.25rem;
	font-weight: 400;
    line-height: 1;
}

/* Testimonials */

.km-tst_row {
	background: #ededed;
}

.km-tst_row .owl-stage-outer {
	padding:20px 0;
}

.km-tst_col {
	background: #fff;
	border:2px solid #ededed;
	border-radius: 3px;
	position: relative;
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
}

.owl-carousel .owl-item.km-tst_col .avatar,
.owl-carousel .owl-item .avatar {
	height: 75px;
	width: 75px;
	border-radius: 100%;
	border:2px solid #666666;
	position: absolute;
	top: -40px;
}

.km-tst_col:before {
	content: "";
	background: #666666;
	height: 2px;
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
}

.km-tst_col p {
	text-align: center;
	color: #666;
	font-size: 1rem;
	line-height: 1.35rem;
	font-weight: 400;
}

.km-tst_col h6 {
	color: #222;
	font-size: 1rem;
	font-weight: 500;
}

.km-tst_carousel.owl-carousel .owl-stage {
	padding: 1.45rem 0 0 0;
}

/* Global Carousel */

.km-tst_carousel,
.km-newar_carousel {
	position: relative;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-nav.disabled {
	display: inline-block;
	position: absolute;
	top: 45%;
	margin:0;
	left: -40px;
	right: -40px;
}

.owl-prev {
	position: absolute;
	left: 0;
	background: url(../img/left.svg) no-repeat;
	background-position: 10px 8px;
	background-size: 8px 8px;
}

.owl-carousel .owl-nav .owl-next {
	position: absolute;
	right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
	border-radius: 100%;
	height: 34px;
	width: 34px;
	background: #fff;
	margin:0;
}

.owl-theme .owl-nav [class*=owl-] img {
    height: 14px;
    width: 14px;
    position: relative;
    top: 10px;
    margin: auto;
    display: block;
}

.owl-carousel .owl-item img {
	width: auto;
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: #fff;
}

.km-tst_carousel.owl-theme .owl-nav [class*=owl-],
.km-slr_carousel.owl-theme .owl-nav [class*=owl-],
.km-trlprod_row .km-newar_carousel.owl-theme .owl-nav [class*=owl-] {
	border:1px solid #999;
}

.km-trlprod_row .km-newar_carousel.owl-theme .owl-nav [class*=owl-] {
	border-radius: 100%;
	height: 34px;
	width: 34px;
	background: #fff;
	margin: 0;
}

.km-tst_carousel.owl-theme .owl-nav [class*=owl-] img,
.km-slr_carousel.owl-theme .owl-nav [class*=owl-] img,
.km-trlprod_row .km-newar_carousel.owl-theme .owl-nav [class*=owl-] img {
    top: 5px;
}

.km-newar_carousel.owl-theme .owl-nav [class*=owl-] {
	border:1px solid #fff;
}

.km-newar_carousel.owl-theme .owl-nav [class*=owl-] {
	height: 45px;
	width: 45px;
}

.km-newar_carousel.owl-carousel .owl-nav.disabled {
	left: -40px;
	right: -40px;
}

/* Newsletter */

.km-subscrb_area {
	background: #333333;
}

.km-subscrb_area h6 {
	color: #fff;
	font-size: 1.15rem;
}

.km-subscrb_area .input-group,
.km-subscrb_area .input-group-addon {
	height: 36px;
	padding:0;
}

.km-subscrb_area .input-group-addon {
	background: #40C4FF;
	color: #222;
	border:0;
}

.km-subscrb_area .input-group-addon .btn {
	height: 36px;
}

.km-subscrb_area .input-group .form-control {
	border-radius: 0;
	border:1px solid #fff;
}

/* Main Slider */

.km-sldr_row {
	padding:0;
}

.km-sldr_carousel .owl-nav {
	position: absolute;
	top: 45%;
	left: 40px;
	right: 40px;
}

.km-sldr_carousel.owl-theme .owl-nav [class*=owl-] img {
	top: 6px;
}

/* Advertise */

.km-adv_row img {
	width: 100%;
}

.km-adv_info {
	position: relative;
}

.km-adv_info {
	position: absolute;
	z-index: 99;
}

.km-adv_info h2,
.km-adv_info h1 {
	color: #fff;
	font-weight: 600;
	text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.40);
}

.km-adv_info h2 {
	font-size: 1.25rem;
	font-weight: 500;
}

.km-adv_info h1 {
	font-size: 2.5rem;
}

/* Footer */

footer {
	background: #ededed;
    padding: 2.5rem 0 0 0;
}

footer p {
	line-height: 1.25rem;
}

footer h5 {
    margin-bottom: 1rem;
}

footer ul.km-ft_list {
	padding:0;
	margin:0;
}

footer ul.km-ft_list li {
	list-style: none;
    margin-bottom: 0.15em;
}

footer ul.km-ft_list li:last-child {
	margin-bottom: 0;
}

footer ul.km-ft_list li a {
	color: #666;
}

footer ul.km-ft_list li a:hover,
footer ul.km-ft_list li a:focus {
	text-decoration: none;
	color: #000;
}

footer ul.km-fot_soclist h6 {
	margin-bottom: 8px;
}

footer ul.km-fot_soclist {
	margin:0;
	padding:0;
}

footer ul.km-fot_soclist li {
	list-style: none;
	display: inline-block;
	margin:0 4px 0 0;
}

footer ul.km-fot_soclist li a img {
	height: 26px;
	width: 26px;
}

footer ul.km-fot_cnt {
	margin:0;
	padding:0;
}

footer ul.km-fot_cnt li {
	list-style: none;
	display: block;
	margin:0 4px 10px 0;
}

footer ul.km-fot_cnt li a {
	color: #222;
	font-weight: 400;
}

footer ul.km-fot_cnt li a img,
.drawermenu > ul > li.cont_utl > a > img {
	height: 18px;
	width: 18px;
	margin-right: 6px;
}

footer ul.km-fot_cnt li a:hover,
footer ul.km-fot_cnt li a:focus {
	text-decoration: none;
}

hr.km-fot_sep {
	position: relative;
}

.km-fot_sep:before {
	content: "";
	background-color: #ededed;
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: -20px;
	height: 40px;
	width: 80px;
	margin: auto;
	display: block;
}

.km-fot_sep:after {
	content: "";
	background: url(../img/krerum-s-logo.png) no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: -20px;
	height: 36px;
	width: 36px;
	margin: auto;
	display: block;
}

.km-cpyrght p a {
	color: #222;
}

/* Category Grid */

.km-catmsnry_row .km-catmsnry_col {
	position: relative;
	overflow:hidden;
}

// .km-catmsnry_row .km-catmsnry_col a:hover img {
// 	opacity: 1;
// 	-webkit-animation: flash 1.5s;
// 	animation: flash 1.5s;
// }

// @-webkit-keyframes flash {
// 	0% {
// 		opacity: .4;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }
// @keyframes flash {
// 	0% {
// 		opacity: .4;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }

.km-catmsnry_info {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
    background: rgba(255, 255, 255, 0.45);
	color: #222;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	font-size: 1.15rem;
	padding: 10px;
	text-align: center;
	letter-spacing: 0.05em;
}

.km-catmsnry_row .km-catmsnry_col a:hover,
.km-catmsnry_row .km-catmsnry_col a:focus {
	text-decoration: none;
}

/* Misc. */

#nav-btn {
	background: url(../img/menu.svg) no-repeat;
	height: 36px;
	width: 36px;
	background-position: 6px 7px;
	background-size: 25px 22px;
	padding: 0;
	border: 0;
	margin: 0;
}

.mob-cat .col {
	font-size: 0.85rem;
	font-weight: 500;
}

.mob-cat .col img {
	height: 35px;
	width: 35px;
	margin-bottom: 0.50rem;
}

.km-prod_badge {
	background: #FF4081;
	color: #fff;
	font-size: 0.95rem;
	transform: rotate(-90deg);
	position: absolute;
	left: -30px;
	top: 20px;
	z-index: 99;
	padding: 10px 10px 0 10px;
	text-transform: uppercase;
	line-height: 30px;
}

/* Item Listing */

.m-filters-area {
	box-shadow: 0px 2px 6px 2px rgba(226, 226, 226, 0.28);
	background: #ededed;
}

.subnav {
	height: 12px;
	width: 12px;
	float: right;
	margin-top: 4px;
	opacity: 0.45;
}

.m-filters-area .btn {
	background: transparent;
	padding: 12px 10px;
	border-bottom: 1px solid #e4e4e4;
	/* border-top: 1px solid #e4e4e4; */
    color: #222;
	margin: 0;
}

.m-filters-area .list-group-item {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	padding: 4px 0;
	display: block;
	font-weight: 500;
}

.km-filter_area {
	background: #e2e2e2;
}

.m-filters-area .list-group-item a {
	color: #666;
	display: block;
}

.m-filters-area .list-group-item a:hover {
	text-decoration: none;
	color: #222;
}

.m-filters-area .card {
	border: 0;
	padding-left: 20px;
	background: transparent;
	border-bottom: 1px solid #e4e4e4;
	padding: 6px 0 6px 20px;
	border-radius: 0;
}

.km-filter_area .breadcrumb {
	background-color: transparent;
	padding: 0;
	margin: 5px 0 0 0;
}

.breadcrumb-item+.breadcrumb-item::before {
	content: "";
	background: url(../img/arrow-right.svg) no-repeat;
	background-position: 3px 1px;
    background-size: 9px 9px;
    height: 10px;
    width: 10px;
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #000000;
}

.km-filter_area .breadcrumb-item.active {
	color: #666666;
}

.km-filter_area .breadcrumb-item a {
	color: #222;
}

.km-filter_area label,
.km-filter_area .form-group {
	margin-bottom: 0;
}

.km-filter_area .dropdown .btn {
	background: #fff;
    padding: 2px 0 2px 8px;
	width: 100%;
	text-align: left;
}

.km-filter_area .dropdown-menu {
	border-radius: 0;
	border:0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.km-filter_area .dropdown-toggle::after {
	border-top: .25em solid #666;
	border-right: .25em solid transparent;
	border-left: .25em solid transparent;
	position: absolute;
	right: 8px;
	bottom: 10px;
}

.km-prod-listing .km-newar_col {
	border:1px solid #ddd;
}

.km-prod-listing .km-newar_info {
	padding:0;
}

.km-prod-listing .km-newar_info h6 {
	color: #666;
	font-size: 0.85rem;
	margin-bottom: 10px;
}

/* Item Details */

.km-prod_detail h4,
.km-prod_detail h6 {
	font-weight: 400;
}

.km-prod_detail .btn {
    padding: .75rem 2.5rem;
}

.km-prod_detail .btn:hover {
	color: #fff;
}

.km-prod_detail .btn img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

.km-prod_detail .form-control {
	border-radius: 0;
}

.km-prod_detail h6 a {
	color: #222;
	text-decoration: underline;
}

.km-prod_detail h6 a:hover {
	text-decoration: none;
}

.km-prod_detail .km-prc {
	font-size: 1.55rem;
}

.km-prod_detail .km-prc span {
	font-size: 1.15rem;
	font-weight: 400;
	margin-right: 10px;
}

ul.km-rate_view {
    margin: 0;
    padding: 0;
    float: left;
}

ul.km-rate_view li {
    list-style: none;
    display: inline-block;
    background: url(../img/star.svg) no-repeat;
    height: 16px;
    width: 12px;
    background-position: 0px 2px;
    background-size: 11px 12px;
    float: left;
    margin-top: 3px;
}

ul.km-rate_view span {
    font-weight: 500;
    margin-left: 4px;
    color: #ee9224;
    font-size: 14px;
}

.km-prod_detail__smdesc {
    color: #666;
}

.km-prod_detail__smdesc a {
	color: #000;
	text-decoration: underline;
}

.km-prod_detail__detdesc {
	background: #ededed;
	min-height: 410px;
}

.km-prod_detail__detdesc ul.nav {
	border-bottom: 0;
}

.km-prod_detail__detdesc p.lead {
	margin-bottom: 1rem;
}

.km-prod_detail__detdesc p.lead:last-child {
	margin-bottom: 0;
}

.km-prod_detail__detdesc ul.nav .nav-link {
	border: 0;
	color: #666;
	font-size: 1.10rem;
	font-weight: 400;
	padding: .4rem 1rem;
}

.km-prod_detail__detdesc ul.nav .nav-link img {
	height: 12px;
	width: 12px;
	top: -2px;
	position: relative;
	opacity: 0.35;
}

.km-prod_detail__detdesc ul.nav .nav-link.active img {
	opacity: 1;
}

.km-prod_detail__detdesc ul.nav .nav-item {
	margin-bottom: 1rem;
}

.km-prod_detail__detdesc ul.nav .nav-item:last-child {
	margin-bottom: 0;
}

.km-prod_detail__detdesc ul.nav .nav-item.show .nav-link,
.km-prod_detail__detdesc ul.nav .nav-link.active {
	background: #fff;
	color: #000;
	border:0;
	border-radius: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10) !important;
}

.km-prod_detail__detdesc ul.nav .nav-link:focus,
.km-prod_detail__detdesc ul.nav .nav-link:hover {
	color: #000;
	border-color: transparent;
	border:0;
	box-shadow: none;
}

/* Releated Products */

.km-trlprod_row {
	background: #fff;
}

.km-trlprod_row .km-newar_col {
    border: 1px solid #ddd;
}
/* Base Checkout */

.total-area {
	background: #ededed;
    padding: 1rem;
}

.wizard-line {
	border-top: 2px solid #ededed;
	position: absolute;
	top: 54px;
	left: 40px;
	right: 40px;
	border-radius: 4px;
}

button.order-prod-remove.close-btn {
    position: absolute;
    right: 10px;
    top: 0;
}

.order_summary-row {
	border-bottom: 1px solid #ededed;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.checkout-leftside {
	min-height: 550px;
}


/*checkout-order*/
.km-nav-bodr{
	border-bottom: 1px solid #ddd;
}
.km-order-proc h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 36px;
    font-size: 1.5rem;
}
.side_menu{
	border: none;
}
.side-pages{
	color: #999;
	font-weight: bold;
}
.list-group-item.active{
	background-color: #fff;
	color: #FF4081;
}
.account-setting-menu > ul > li.active > a.side-pages{
	color: #FF4081;
  border: none;
  text-decoration: none;
}
.account_icons{
	height: 28px;
	width: 28px;
	vertical-align: middle;
	filter: grayscale(100%);
	opacity: 0.65;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	border: none;
}
.nav-tabs{
	border: none;
}
.nav-tabs .nav-link.active .account_icons{
	color: #FF4081;
	filter: grayscale(0);
	opacity: 1;
}
.nav-tabs .nav-link:hover{
	border: none;
}
.nav-tabs .nav-link.active{
	border: none;
	color: #FF4081;
	background-color: transparent;
	font-size: 14px;
	font-weight: 500;
	padding: 0;
}
.nav-tabs .nav-link div {
	background: #ededed;
	border-radius: 100%;
	padding: 15px;
	margin-bottom: 9px;
	font-weight: 400;
	border: 3px solid #fff;
	z-index: 1;
	position: relative;
	box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.02)
}

.nav-tabs .nav-link{
	color: #666;
	border: none;
	font-size: 14px;
	font-weight: 500;
	padding:0;
}
.order-prod-img img{
	height: auto;
	width: 100px;
}
.order-prod-id{
	font-size: 14px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  color: #666;
}
.order-prod-seller{
	color: #7f7f7f;
  font-weight: 500;
  font-size: 14px;
}
.clos-icn{
	height: 12px;
	vertical-align: middle;
	margin-left: 5px;
}
.rmv-itm {
	opacity: 0.5;
}
.rmv-itm:hover {
	opacity: 1;
}

.close-btn{
	background: 0 0;
	border: 0;
  	cursor: pointer
}
.ordr{
	font-size: 16px;
	font-weight: 500;
	color: #666;
}
.ordr-amt{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.finl-tot{
	text-align: right;
}
.grd-tot{
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: #666;
}
.cont-pay{
    background-color: #FF4081;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
.cont-pay:hover{
	background-color: #F50057;
}
.cont-pay:focus{
	background-color: #FF4081;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.proc-icn{
	height: 20px;
	position: relative;
	top: -1px;
}
.pym-titl{
	color: #666;
}
.pym-img{
	height: 40px;
	width: 40px;
}
.pay-card{
	padding: 10px 15px;
	font-size: 13px;
	border: 1px solid #e1e1e1;
	color: #666;
	text-align: left;
	position: relative;
	margin: 10px auto;
	filter: grayscale(100%);
}
.pay-card.active{
	border: 1px solid #FF4081;
  color: #FF4081;
  filter: grayscale(0%);
  box-shadow: 0 3px 1px 0px #FF4081;
}
.pay-txt{
	font-size: 16px;
}
.revie-nots{
	resize: none;
	border-radius: 0px;
}
.add-card:after {
	filter:grayscale(100%);
	opacity: 0.6;
}

.add-card:after{
	content: "";
	background: url(../img/check-mark.svg) no-repeat;
	background-size: 22px 34px;
	background-position: 4px -2px;
	position: absolute;
	right: 6px;
	top: 0px;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	margin: 10px auto;
}
.add-card.active:after{
	content: "";
	opacity: 1;
	filter:grayscale(0);
	background: url(../img/check-mark.svg) no-repeat;
	background-size: 22px 34px;
	background-position: 4px -2px;
	position: absolute;
	right: 6px;
	top: 0px;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	margin: 10px auto;
}
.add-card{
	padding: 15px 15px;
	text-align: left;
	position: relative;
	margin: 0;
	border: 1px solid #ededed;
}
.add-card h5 {
	font-size: 1rem;
}
.add-card.active{
	border: 1px solid #FF4081;
}
.add-link{
	color: #FF4081;
	text-decoration: none;
}
.add-link:hover{
	color: #FF4081;
	text-decoration: none;
}
.add-link:focus{
	color: #FF4081;
	text-decoration: none;
}
.add-form{
	font-weight: 500;
	color: #666;
}
.form-control:focus {
	background-color: #fff;
	border-color: #FF4081;
}
.form-list{
	font-weight: 500;
	border-radius: 0px;
}
.order-prod-detail{
	padding-left: 20px;
}

.order-prod-detail .order-prod-title {
	font-size: 1.2rem;
}
/*login-model*/
.login-btn{
	background-color: inherit;
	color: inherit;
	font-weight: inherit;
	border: 0;
}
.login-page{
	padding-left: 20px;
}
.log-tit-head{
	border-bottom: 0px;
	padding-left: 30px;
}
.log-title{
	font-weight: 600;
	letter-spacing: 1px;
}
.reg-link{
	text-decoration: none;
}
.reg-link:hover{
	text-decoration: none;
	color: #0275d8;
}
.login-form{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #bdbdbd;
	border-radius: 0;
	outline: 0;
	height: 2.1rem;
	width: 100%;
	font-size: 1rem;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all .3s;
	transition: all .3s;
	padding-left: 0px;
}
.form-icon{
	width: 20px;
}
.input-group-addon.fom-img{
	padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #464a4c;
  text-align: center;
  background-color: #fff;
  padding-right: 20px;
  border-bottom: 1px solid #bdbdbd;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
	border-radius: 0px;
}
.cust-chek-box{
	background-color: white;
	border-radius: 0px !important;
	border: 1px solid #bdbdbd;
}
.cust-chek-box:focus{
	box-shadow: none;
}
.log-btn{
	border-radius: 25px;
	color: #fff;
	background-color: #2962d4;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.5px;
	box-shadow: 0px 1px 15px 0px #2962d4;
}
.log-btn:hover{
	border-radius: 25px;
	color: #fff;
	background-color: #2962d4;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.5px;
	box-shadow: 0px 1px 15px 0px #2962d4;
}
.log-btn:focus{
	border-radius: 25px;
	color: #fff;
	background-color: #2962d4;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.5px;
	box-shadow: 0px 1px 15px 0px #2962d4;
}
.social-login{
	width: 215px;
}
.social-login-facebook{
	background-color: #2350ab;
	border-radius: 25px;
	margin-right: 10px;
	padding: 3px;
}
.social-login-twitter{
	background-color: #34a5ff;
	border-radius: 25px;
	margin-right: 10px;
	padding: 3px;
}
.social-login-google-plus{
	background-color: #ef595c;
	border-radius: 25px;
	margin-right: 10px;
	padding: 3px;
}
.social-icon{
	height: 14px;
	width: 30px;
}
.reg-btn{
	background-color: #f16b6c;
	border-radius: 25px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.5px;
	box-shadow: 0px 1px 15px 0px #f16b6c;
}
.reg-btn:hover{
	background-color: #f16b6c;
	border-radius: 25px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.5px;
	box-shadow: 0px 1px 15px 0px #f16b6c;
}
.reg-btn:focus{
	background-color: #f16b6c;
	border-radius: 25px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.5px;
	box-shadow: 0px 1px 15px 0px #f16b6c;
}
.reg-icn{
	height: 12px;
	padding-right: 10px;
}
.gog-icn{
	height: 14px;
	padding-right: 6px;
}
.new_or{
	color: inherit;
}
.new_or:hover {
	color: inherit;
	text-decoration: none;
}
.social-reg
{
	color: inherit;
}
.social-reg:hover {
	color: inherit;
	text-decoration: none;
}
.ft-row{
	justify-content: center;
}
.log-auto-img{
	width: 100%;

}
.modal-close-btn{
	padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  z-index: 999;
  position: relative;
}

//***/

.drawermenu_overlay {
    z-index: 1600 !important;
}

/**
====================== **/

.nav {
	cursor: default;
	display: table;
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 25px 0 0 0;
}
ul.nav li {
	display: table-cell;
	text-align: center;
}
/* menu links */
.nav > li > a {
	position: relative;
	text-transform: uppercase;
	z-index: 510;
	padding: 0;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	padding:10px 8px 10px 8px;
}
.nav > li > a > .pro_icon {
	height: 30px;
	width: 30px; 
	margin-bottom: 6px;
	opacity: 0.6;
}

.nav > .nav-item.active > a {
	background: #fff;
	opacity: 1;
	// border-bottom: 2px solid #000;
}

.nav > li > a:hover{
	background: #fff;
	opacity: 1;
}

.nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav > li > a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* menu dropdown */
.nav > li > div {
	background: #fff;
	position: absolute;
	display: block;
	left: 0;
	opacity: 0;
	overflow: hidden;
	top: 75px;
	-webkit-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
	visibility: hidden;
	width: 100%;
	padding: 2em 2rem;
	box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.15);
}
.nav > li:hover > div {
	opacity: 1;
	overflow: visible;
	visibility: visible;
}
.nav > li > div .col h6 {
    font-size: 16px;
    color: #111;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
}
.nav > li > div .col ul {
	margin:0 0 10px 0;
	padding:0;
}
.nav > li > div .col ul li {
	list-style: none;
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-bottom: 4px;
}
.nav > li > div .col ul li a {
	font-size: 16px;
	letter-spacing: 0;
	color:#222;
	text-transform: none;
}
.nav > li > div .col ul li a:hover,
.nav > li > div .col ul li a:focus {
	text-decoration: none;
	color: #40C4FF;
}
.nav > li > div .col ul li a:after {

	content:"";
	display: none;
}
.nav > li > div .col .nav_pro_prew {
	height: 180px;
	overflow: hidden;
	border: 5px solid #fff;
	box-shadow: 0px 0 1px 1px #ddd;
}
.nav > li > div .col .nav_pro_prew img {
	width: auto;
	height: 100%;
}
.nav > li > div .col .nav_spacer {
	height: 10px;
}

/**
====================== **/




/* Responsive Fixes */
@media only screen and (min-width: 320px) and (max-width: 767px) {
header { height: auto; }
.navbar-brand img { height: 60px; }
.navbar-toggler-right { margin-top: 0; right: 0; }
.navbar { height: 70px; margin:0; }
.owl-carousel .owl-nav { left: 0; right: 0; }
.km-sldr_carousel .owl-nav { left: 10px; right: 10px; top: 40%; }
.km-footer_col h5 { cursor: pointer; margin-bottom: 0; }
.folderized footer ul.km-ft_list { margin-top: 10px; }
.folderized { max-height: 0; overflow: hidden; transition: max-height 0.20s ease-out; width: 100%; }
.km-footer_col h5:after { content: "+"; float: right; font-size: 32px; font-weight: 400; top: -8px; position: relative; }
.km-footer_col.open h5:after { content: "-"; font-size: 32px; font-weight: 400; top: -8px; position: relative; }
.km-footer_col.open .folderized { height:auto; max-height: 500px; transition: max-height 0.20s ease-in !important; }
.finl-tot{ text-align: left; }
.cont-pay{ background-color: #FF4081; color: #fff; text-transform: uppercase; font-size: 18px; font-weight: 500; width: 100%}
.cont-pay:hover{ background-color: #FF4081; color: #fff; text-transform: uppercase; font-size: 18px; font-weight: 500; width: 100%}
.cont-pay:focus{ background-color: #FF4081; color: #fff; text-transform: uppercase; font-size: 18px; font-weight: 500; width: 100%}
.order-prod-detail{ padding-left: 0px; }
.checkout-leftside { min-height: auto; }
.nav-tabs .nav-link div { padding: 12px 12px; }
.account_icons { height: 22px; width: 22px; }
}
/*
    Btn Qty
*/
.btn-qty {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: #727272;
    border: 1px solid #727272;
    font-weight: bold;
}
.btn-qty:hover,
.btn-qty:focus {
    background-color: #FF4081 !important;
    color: white;
    border-color: #FF4081;
}
.qty-input {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px !important;
    font-size: 13px;
}

.btn-qty:hover {
    background-color: #ccc;
}

/** Content pages **/

h5.inner_heading {
	font-size: 1.25rem;
	color: #666;
	margin-bottom: 0.65rem;
}

.content-area p.lead {
    font-size: 1.05rem;
    font-weight: 400;
}

/** Order pages **/

.order-action_area img {
	width:70px;
}

.order-action_area h3 {
	margin-bottom: 1rem;
}

.order-action_area p.lead {
	font-size: 1.25rem;
}

.order-action_area .btn-success {
	text-transform: uppercase;
	background: #4eb03a;
	border:2px solid #4eb03a;
}

.order-action_area .btn-success:hover {
	color: #fff;
}

.order-action_area .btn-failed,
.order-action_area .btn-failed-brd {
	text-transform: uppercase;
	background: #ea5153;
	border:2px solid #ea5153;	
}

.order-action_area .btn-failed-brd {
	color: #ea5153;
	background: #fff;
	border:2px solid #ea5153;			
}

.order-action_area .btn-failed:hover {
	color: #fff;
}

.order-action_area .btn-failed-brd:hover {
	color: #fff;
	background: #ea5153;
	border:2px solid #ea5153;
}

/* Large Screen */
@media (min-width: 1200px) {
.container { width: 1200px; }
.km-newar_carousel.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-nav, .owl-carousel .owl-nav.disabled { left: -10px; right: -10px; }
.km-sldr_carousel.owl-carousel .owl-nav { left: 20px; right: 20px; }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.finl-tot{ text-align: left; }
	.order-prod-detail{ padding-left: 0px; }
	.checkout-leftside { min-height: auto; }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.checkout-leftside { min-height: auto; }
}

/*New Blue Shade*/
/* #97f1fc */


.km-main-cat-banner img {
	width:100%;
}