<table style="border-collapse: collapse; width: 940px; height: 466px;" border="0" width="708" cellspacing="0" cellpadding="0"><colgroup><col style="width: 266pt;" width="355" /> <col style="width: 265pt;" width="353" /></colgroup>
    <tbody>
        <tr style="height: 17.4pt;">
            <td style="height: 17px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="23">
                <img src="img/k-logo.png" style="width: 200px; height: 80px;" />
            </td>
            <td style="width: 212px; font-size: 14pt; font-weight: bold; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 17px;">
                Tax Invoice/Bill of Supply/Cash Memo
            </td>
        </tr>
        <tr style="height: 15.6pt;">
            <td style="height: 0px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="21">&nbsp;</td>
            <td style="width: 212px; font-size: 12pt; font-weight: bold; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 15px;">
                (Duplicate for Transporter)
            </td>
        </tr>
            <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal; height: 13px;">&nbsp;</td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal; height: 13px;">&nbsp;</td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal; height: 13px;">&nbsp;</td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; font-weight: bold; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                Sold By:
            </td>
            <td style="width: 212px; font-weight: bold; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                <!-- Billing/Shipping Address: -->
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                PACEDGE&nbsp;Labels Pvt. Ltd.
            </td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                <!-- Action Engineers -->
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                Plot No. 33 Block A, Mohan&nbsp;Cooperative,
            </td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                <!-- Nr Petrol Pump, Opp Billabong School, -->
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                Industrial Estate
            </td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                <!-- Vadsar Bridge, GIDC West, -->
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                New Delhi, Delhi, 110044
            </td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                <!-- Vadodara Gujarat, 390010 -->
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                India
            </td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                <!-- India -->
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal; height: 13px;">&nbsp;</td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; font-weight: bold; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                Shipping Address:
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                Action Engineers
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                <span style="color: windowtext; font-size: 11pt; font-weight: bold; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;">
                    PAN No:
                </span>
                <span style="color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;"> 
                    AACCP7663F
                </span>
            </td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                Nr Petrol Pump, Opp Billabong School,
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                <span style="color: windowtext; font-size: 11pt; font-weight: bold; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;">
                    GST Registration No: 
                </span>
                <span style="color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;">
                    07AACCP4663F1ZA
                </span>
            </td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                Vadsar Bridge, GIDC West,
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                Vadodara Gujarat, 390010
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                India
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal; height: 13px;">&nbsp;</td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                <span style="color: windowtext; font-size: 11pt; font-weight: bold; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;">
                    Order Number:
                </span>
                <span style="color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;"> 
                    402-5740758-7850728
                </span>
            </td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                <span style="color: windowtext; font-size: 11pt; font-weight: bold; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;">
                    Invoice Number:
                </span>
                <span style="color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;"> 
                    SDEF-1251
                </span>
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">
                <span style="color: windowtext; font-size: 11pt; font-weight: bold; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;">
                    Order Date:
                </span>
                <span style="color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;"> 
                    22.12.2017
                </span>
            </td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 13px;">
                <span style="color: windowtext; font-size: 11pt; font-weight: bold; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;">
                    Invoice Details:
                </span>
                <span style="color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;"> 
                    DL-SDEF-171269421 - 1718
                </span>
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 21px; width: 728px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border: none; white-space: normal;" height="18">&nbsp;</td>
            <td style="width: 212px; text-align: right; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border: none; white-space: normal; height: 21px;">
                <span style="color: windowtext; font-size: 11pt; font-weight: bold; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;">
                    Invoice Date:
                </span>
                <span style="color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif;"> 
                    22.12.2017
                </span>
            </td>
        </tr>
    </tbody>
</table>

<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 942px; height: 301px;" border="0" width="916" cellspacing="0" cellpadding="0"><colgroup><col style="width: 22pt;" width="29" /> <col style="width: 330pt;" width="440" /> <col style="width: 53pt;" width="70" /> <col style="width: 49pt;" width="65" /> <col style="width: 53pt;" width="70" /> <col style="width: 39pt;" width="52" /> <col style="width: 38pt;" width="50" /> <col style="width: 53pt;" span="2" width="70" /></colgroup>
    <tbody>
        <tr style="height: 37.2pt;">
            <td style="height: 37px; width: 28px; font-weight: bold; text-align: center; border: 0.5pt solid windowtext; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal;" height="50">Sr. No</td>
            <td style="border-left: none; width: 438px; font-weight: bold; text-align: center; border-top: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 37px;">
                Description
            </td>
            <td style="border-left: none; width: 70px; font-weight: bold; text-align: center; border-top: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 37px;">
                Unit&nbsp;&nbsp; Price
            </td>
            <td style="border-left: none; width: 64px; font-weight: bold; text-align: center; border-top: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 37px;">
                Quantity
            </td>
            <td style="border-left: none; width: 70px; font-weight: bold; text-align: center; border-top: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 37px;">
                Net Amount
            </td>
            <td style="border-left: none; width: 50px; font-weight: bold; text-align: center; border-top: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 37px;">
                Tax Rate
            </td>
            <td style="border-left: none; width: 50px; font-weight: bold; text-align: center; border-top: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 37px;">
                Tax Type
            </td>
            <td style="border-left: none; width: 70px; font-weight: bold; text-align: center; border-top: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 37px;">
                Tax Amount
            </td>
            <td style="border-left: none; width: 100px; font-weight: bold; text-align: center; border-top: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 37px;">
                Total Amount
            </td>
        </tr>
        <tr style="height: 41.4pt;">
            <td style="height: 41px; border-top: none; width: 28px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-left: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal;" height="55">
                1
            </td>
            <td style="border-top: none; border-left: none; width: 438px; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; white-space: normal; height: 41px;">
                Aditya Labels 100 X 50 mm, Thermal Transfer Barcode Labels Stickers, Core Size 1 Inch, Permanent Self Adhesive, 1000 Labels In Roll
            </td>
            <td style="border-top: none; border-left: none; width: 70px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 41px;">
                &nbsp;₹ 287.29
            </td>
            <td style="border-top: none; border-left: none; width: 64px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 41px;">
                2
            </td>
            <td style="border-top: none; border-left: none; width: 70px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 41px;">
                &nbsp;₹ 574.58
            </td>
            <td style="border-top: none; border-left: none; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; white-space: nowrap; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; width: 50px; height: 41px;">
                18%
            </td>
            <td style="border-top: none; border-left: none; width: 50px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 41px;">
                &nbsp;IGST&nbsp;
            </td>
            <td style="border-top: none; border-left: none; width: 70px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 41px;">
                &nbsp;₹ 103.42
            </td>
            <td style="border-top: none; border-left: none; width: 100px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 41px;">
                &nbsp;₹ 678.00
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="height: 13px; border-top: none; width: 28px; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-left: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; white-space: normal;" height="18">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 438px; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 70px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 64px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 70px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 50px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 50px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 70px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 100px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="border-width: 0.5pt; border-style: solid; border-color: windowtext black windowtext windowtext; height: 13px; width: 466px; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border-image: initial; white-space: normal;" colspan="2" height="18">
                TOTAL:
            </td>
            <td style="border-top: none; border-left: none; width: 70px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 64px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 70px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 50px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 50px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 70px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">&nbsp;</td>
            <td style="border-top: none; border-left: none; width: 100px; text-align: center; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; white-space: normal; height: 13px;">
                &nbsp;₹ 678.00
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="border-right: 0.5pt solid black; height: 13px; width: 940px; border-top: 0.5pt solid windowtext; border-bottom: none; border-left: 0.5pt solid windowtext; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border-image: initial; white-space: normal;" colspan="9" height="18">
                Amount In Words:
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="border-right: 0.5pt solid black; height: 13px; width: 940px; border-top: none; border-bottom: 0.5pt solid windowtext; border-left: 0.5pt solid windowtext; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; text-align: left; vertical-align: middle; border-image: initial; white-space: normal;" colspan="9" height="18">
                Six Hundred And Seventy-eight only
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="border-right: 0.5pt solid black; height: 13px; width: 940px; text-align: right; border-top: 0.5pt solid windowtext; border-bottom: none; border-left: 0.5pt solid windowtext; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border-image: initial; white-space: normal;" colspan="9" height="18">
                For PACEDGE Labels Pvt. Ltd
            </td>
        </tr>
        <tr style="height: 13.8pt;">
            <td style="border-right: 0.5pt solid black; height: 92px; width: 940px; text-align: center; border-top: none; border-bottom: none; border-left: 0.5pt solid windowtext; padding-top: 1px; padding-right: 1px; padding-left: 1px; color: windowtext; font-size: 11pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Arial, sans-serif; vertical-align: middle; border-image: initial; white-space: normal;" colspan="9" rowspan="2" height="36">
                <p style="text-align: right;margin-top: 5px">
                    <img src="https://placehold.it/130x50" alt="sign"/>
                </p>
                <p style="text-align: right;">
                    Authorized Signatory
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>